body {
    background-color: black;
}

.nav {
    padding: 50px 0px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    color: wheat
}

.nav ul li {
    padding-left: 8%;
    padding-right: 2%;
}

li {
    list-style: none;
    cursor: pointer;
}

.header-content {
    color: wheat;
    margin-left: 16%;
    margin-top: 70px;
}

.header-content {
    font-size: 120px;
    font-weight: 700;
    margin-top: 70px;
}

.photo img {
    width: 99%;
}

.bio h1 {
    color: wheat;
}

.bio p {
    color: wheat;
}