.goy{
    width: 1000px;
    height: 100px;
    background-color: blue;

}
.qirmizi{
    width: 1000px;
    height: 100px;
    background-color: red;
}

.yasil{
    width: 1000px;
    height: 100px;
    background-color: green;
}