.arxa {
    color: lightcoral;
}

.baslig {
    width: auto px;
    height: 0px;
    background-color: rgb(7, 6, 6);
    display: block
}

.xana {
    height: 10px;
    width: 800px;
    display: block
}

.xanaiki {
    padding-left: 900px;
}